*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FF14BD;
}

#inputSection,
#ticket{
    background-color: white;
    height: 30vh;
    width: 80vw;
}

#inputSection label{
    color: #FF14BD;
    font-weight: bolder;
}

#ticket{
    display: none;
}